# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Cgo
_cgo*

# Godoc
godoc/

# Godep
Godeps/

# Dep
vendor/

# Go workspace
.vscode/
.idea/

# Go module files
/go.sum

# System-specific files
.DS_Store

# Log files
*.log
